div.social-media {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.social-media a {
    padding: 25px 50px;
    border-radius: 40px;
}
div.social-media a > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

div.social-media a > div svg {
    height: 100%;
    width: auto;
}

div.social-media a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

div.social-media h2 {
    font-weight: 900;
    font-size: 2rem;
}