
a.card-project-home {
    width: 100%;
    height: 100%;
    padding: 3%;

    border-radius: 15px;
    box-shadow: inset 0 0 1rem 5px rgba(0, 0, 0, 0.25);
    background-color: var(--dark-secondary-color);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
}

a.card-project-home div.text {
    flex: 1;

    display: flex;
    flex-direction: column;
}

a.card-project-home div.button {
    margin: auto 0;
}

a.card-project-home div.img img {
    width: auto;
    height: 100%;
}

a.card-project-home h3 {
    color: var(--primary-color);
}

a.card-project-home p {
    color: white;
}
