
section.project {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto; 
    grid-template-areas:
        "text img"
        "footer footer";
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem; 
}

section.project:not(:has(.project-img)) {
    grid-template-columns: 1fr;
    grid-template-areas:
        "text"
        "footer";
}

section.project div.project-img {
   grid-area: img;
}

section.project div.project-img img {
    position: sticky;
    top: 0;

    height: auto;
    width: 100%;
    max-width: 100%;

    display: block;
}

section.project div.project-text {
    grid-area: text;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.project div.project-description {
    position: sticky;
    top: 0;
}

section.project div.project-description h2 {
    margin-bottom: 2.5rem;
}

section.project div.project-description p {
    margin-top: 1rem;
}

section.project div.footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "button button"
        "language link";
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

section.project div.footer div.button {
    grid-area: button;
}

section.project div.footer div.button svg{
    color: var(--primary-color);;
}

section.project div.footer div.link {
    grid-area: link;

    text-align: right;
}

section.project div.footer div.language-use {
    grid-area: language;
    
    display: flex;
    align-items: baseline;
}

section.project div.footer div.languages {
    display: flex;
    flex-wrap: wrap;
}

section.project div.footer p {
    display: inline;
    white-space: nowrap;
}

section.project div.footer span {
    margin: 0 5px;
    white-space: nowrap;
}

section.project div.footer a {
    color: black;
    white-space: nowrap;
}