
.marquee {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    max-height: 75px;
    margin: 10px 0;

    display: flex;

    overflow: hidden;
}

.marquee > div {
    width: 100%;
    height: 100%;

    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    animation: marquee 20s linear infinite;
}

.marquee > div > span {
    height: 100%;
}

@keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 1000px) {
    .marquee > div {
        animation: marquee 10s linear infinite;
    }

    .marquee > div > span:nth-child(-n+2) {
        display: none;
    }
}

@media (max-width: 600px) {
    .marquee > div {
        animation: marquee 5s linear infinite;
    }

    .marquee > div > span:nth-child(-n+4) {
        display: none;
    }
}

@media (max-width: 300px) {
    .marquee {
        display: none;
    }
}