:root {
    --primary-color: #F9EDCB;
    --light-primary-color: #fdf8ea;
    --dark-primary-color: wheat;
    --secondary-color: #454B5A;
    --dark-secondary-color: #373c48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, sans-serif;

    background-color: var(--primary-color);
}

main {
    width: 100%;
    padding-bottom: 200px;
    min-height: 100vh;
}

main > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

div.head:has(*) {
    width: 100vw;
    height: 100vh;
}

h1.namepage {

    text-align: center;
}

main section {
    border-radius: 0 50px;
    padding: 2%;
    
    background-color: var(--light-primary-color);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main h2 {
    margin-bottom: 1rem;
    color: black;
}

main h3 {
    margin-bottom: 0.5rem;
}

a, button, p, h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 1;
}

a, p {
    font-size: 1.2rem;
}

:is(a, button, p, h1, h2, h3, h4, h5, h6) * {
    position: relative;
    z-index: 1;
}

a, a:visited {
    text-decoration: none;
}

svg {
    height: 100%;
    width: auto;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}