div.button {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.button-cta {
    width: 30%;
    min-width: 150px;

    height: 50px;
    border-radius: 50px;

    background-color: var(--secondary-color);

    display: flex;
    align-items: center;
    flex-direction: row;

    position: relative;
    overflow: hidden;
}

a.button-cta:active {
    transform: translateY(2px);
}

a.button-cta span {
    height: 100%;
    width: 100%;
    padding: 5px 15px;
    border-radius: 50px;
    
    background-color: var(--dark-secondary-color);
    
    display: flex;
    align-items: center;
    justify-content: right;

    position: absolute;

    transform: translateX(calc(-100% + 50px));
    transition: transform 0.5s ease;
}

a.button-cta:hover span {
    transform: translateX(max(0%, calc(150px - 100%)));
    transition: transform 0.5s ease;
}

a.button-cta span svg{
    height: 30px;
}

a.button-cta div {
    width: 100%;
    margin: 0 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

a.button-cta p.text-cta {
    width: 100%;
    max-height: 3em;
    line-height: 1.5;
    margin: 0;

    color: var(--primary-color);

    overflow: hidden;
    word-break: break-word;

    text-align: center;
    z-index: 1;
}
