
section.info {
    width: 75%;

    display: flex;
    gap: 2%;
}

section.info > div {
    border-radius: 0 50px;
    padding: 2%;

    background-color: rgba(255, 255, 255, 0.6);
}

section.projects {
    width: 75%;
    border-radius: 0 50px ;
    padding: 2%;

    background-color: rgba(255, 255, 255, 0.6);
}

section h2 {
    color: black;
}

section p {
    margin: 1rem 0;

    color: black;
}

div.slider {
    margin-bottom: 1rem;
}