
select.lang {
    width: 100px;
    padding: 5px;

    border: 1px black solid;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.4);

    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
}

select.lang:hover {
    background-color: rgba(0, 0, 0, 0.5);
}