
div.picture-cards {
    height: 35rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.picture-cards div.card {
    width: 15rem;
    height: 30rem;
    
    border: 1px solid black;
    border-radius: 3rem;

    overflow: hidden;

    transform: translate(var(--tx), var(--ty)) rotate(var(--rot));
    transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

div.picture-cards div.card:hover {
    transform: translate(var(--tx), calc(var(--ty) - 3rem)) rotate(var(--rot)) scale(1.2);
    transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55);
}

figure {
    height: 100%;
    width: 100%;

    position: relative;
}

figure img {
    height: 100%;
    width: 100%;

    display: block;
    object-fit: cover;
}

figcaption {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

figure:hover figcaption {
    display: block;
}

