
div.picture-cards {
    height: 35rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.picture-cards div.card {
    width: 15rem;
    height: 30rem;

    border-radius: 3rem;

    overflow: hidden;

    transform: translate(var(--tx), var(--ty)) rotate(var(--rot));
    transition: transform 0.5s cubic-bezier(.08,.82,.17,1);
}

div.picture-cards div.card:hover {
    transform: translate(var(--tx), calc(var(--ty) - 3rem)) rotate(var(--rot)) scale(1.2);
    transition: transform 0.5s cubic-bezier(.08,.82,.17,1);
}

figure {
    height: 100%;
    width: 100%;

    position: relative;
}

figure img {
    height: 100%;
    width: 100%;

    display: block;
    object-fit: cover;
}

figcaption {
    padding: 5px 10%;
    width: 100%;

    display: none;
    position: absolute;

    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    bottom: 0;
}

figcaption a, figcaption p {

    font-size: 0.8rem;
    text-align: center;
}

figcaption a:hover {
    text-decoration: underline;
}

figure:hover figcaption {
    display: flex;
    justify-content: center;
}

