
section.project {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto; 
    grid-template-areas:
        "text img"
        "button button"
        "footer footer";
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem; 
}

section.project:not(:has(.project-img)) {
    grid-template-columns: 1fr;
    grid-template-areas:
        "text"
        "footer";
}

section.project div.project-img {
   grid-area: img;
}

section.project div.project-img img {
    position: sticky;
    top: 0;

    height: auto;
    width: 100%;
    max-width: 100%;

    display: block;
}

section.project div.project-text {
    grid-area: text;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section.project div.project-description {
    position: sticky;
    top: 0;
}

section.project div.project-description h2 {
    margin-bottom: 2.5rem;
}

section.project div.project-description p {
    margin-top: 1rem;
}

section.project div.button {
    grid-area: button;
}
