
.tooltip-trigger{
    position: relative;
}

div.tooltip {
    max-width: 20vw;
    margin-top: 0.2rem;
    padding: 0.2rem;
    border: 1px solid var(--dark-secondary-color);
    border-radius: 0.25rem;

    visibility: hidden;
    position: absolute;

    background: var(--secondary-color);
    color: white;

    z-index: 2;
}

div.tooltip h1 {
    color: var(--primary-color);
    font-size: 1rem;
}

div.tooltip p {
    font-size: 0.8rem;
}

.tooltip-trigger:hover + div.tooltip,
div.tooltip:hover {
    visibility: visible;
}
