
.about div.head {
    min-height: 600px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about div.head > div {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about div.head > div.img {
    width: 50vw;
    min-height: 700px;
    height: 60vh;
    min-height: 400px;

    transform: translateX(-10vw);
}

.about div.head > div.img img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
}

.about div.head > div.text {
    text-align: center;
    gap: 5px;

    transform: translate(10vw, -75px);
}

.about div.head > div.text * {
    margin: 2px;
    padding: 0 10px;

    background-color: var(--secondary-color);
}

.about div.head > div.text h1 {
    font-size: 4rem;
    font-weight: 800;

    color: var(--dark-primary-color);
}

.about div.head > div.text p {
    font-size: 2rem;
    font-weight: 600;

    color: white;
}

.about section {
    width: 75%;
}

.about .card-picture-about {
    margin-top: 3rem;
}

.about section.text a:hover {
    text-decoration: underline;
}

@media (max-width: 1400px) {
    .about div.head > div.text {
        transform: translate(10vw, 0);
    }
}

@media (max-width: 1000px) {
    .about div.head > div.text {
        transform: translate(10vw, 40px);
    }

    .about section {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .about div.head > div.img {
        transform: translate(0, -100px);
    }

    .about div.head > div.text {
        transform: translate(0, 10px);
    }

    .about div.head > div.text h1 {
        font-size: 2.5rem;
    }

    .about div.head > div.text p {
        font-size: 1.5rem;
    }

    .card-picture-about div.picture-cards div.card {
        transform: translate(var(--tx), 0) rotate(0);
    }
}

@media (max-width: 600px) {
    .about section {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 550px) {
    .about div.head > div.img {
        transform: translate(0, -75px);
    }

    .about div.head > div.text h1 {
        font-size: 2rem;
    }

    .about div.head > div.text p {
        font-size: 1rem;
    }

    .about div.head > div.img {
        width: 80vw;
        height: 70vh;
    }
}

@media (max-width: 500px) {
    .card-picture-about {
        display: none;
    }
}

@media (max-width: 400px) {

    .about div.head {
        padding: 5% 0;
    }

    .about div.head > div.text h1 {
        font-size: 1.5rem;
    }

    .about div.head > div.text p {
        font-size: 0.8rem;
    }

    .about div.head > div.img {
        width: 100vw;
        height: 70vh;
    }
}