
.contact section.contact {
    width: 75%;
}

.contact div.info-contact {
    margin: 1rem;
    
    display: flex;
    justify-content: space-around;
}  

.contact div.info-contact a {
    display: block;
    color: black;
}

.contact div.info-contact a:hover {
    text-decoration: underline;
}

.contact div.social .social-media {
    display: flex;
    flex-direction: column;
}

.contact div.social .social-media a {
    margin: 0;
    padding: 0;
}

.contact div.social div.social-media a:hover {
    background-color: transparent;
}

.contact div.social .social-media a h2 {
    font-weight: 500;
    font-size: 1rem;
    color: black;
}

@media (max-width: 1200px) {
    .contact section.contact .center {
        display: flex;
        justify-content: center;
    }
    
    .contact div.info-contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .button-coarse {
        margin-top: 5px;
        padding: 0px 10px;
    
        border: var(--secondary-color) 1px solid;
        border-radius: 10px;
    
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .contact section.contact {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .contact section.contact a.button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contact section.contact {
        width: 100%;
        border-radius: 0;
    }
}