
div.head:has(*) {
    width: 100vw;
    height: 100vh;

    position: relative;
}

div.head div.img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-color: var(--primary-color);

    display: flex;
    justify-content: center;

    overflow: hidden;
}

div.head div.img img {
    position: absolute;
}

div.head div.img-back img {
    height: 100%;
    width: 100%;
}

div.head div.img-back img.landscape {
    object-fit: cover;
    object-position: center;
}

div.head div.img-front img.my-head {
    padding-top: 75px;
    max-height: 150%;
}

div.head div.img img.logo {
    align-self: center;

    width: 80vw;
}

div.head div.hole {
    --radius: 12rem;
    -webkit-mask-image: radial-gradient(
        circle at var(--x) var(--y),
        transparent 0,
        transparent var(--radius),
        black calc(var(--radius) + 40px)
    );

    mask-image: radial-gradient(
        circle at var(--x) var(--y),
        transparent 0,
        transparent var(--radius),
        black calc(var(--radius) + 40px)
    );
}

div.info {
    width: 75%;

    display: flex;
    gap: 2%;
}

div.info > section {
    width: 50%;
}

div.info div.button {
    margin-top: auto;
}

section.projects, section.home-resume {
    width: 75%;
}

div.slider {
    margin-bottom: 1rem;
}