
div.head:has(*) {
    width: 100vw;
    height: 100vh;

    position: relative;
}

div.img-back {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-color: aqua;
}

div.img-front {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-color: violet;

    --radius: 5rem;
    -webkit-mask-image: radial-gradient(
        circle at var(--x) var(--y),
        transparent 0,
        transparent var(--radius),
        black calc(var(--radius) + 40px)
    );

    mask-image: radial-gradient(
        circle at var(--x) var(--y),
        transparent 0,
        transparent var(--radius),
        black calc(var(--radius) + 40px)
    );
}

div.info {
    width: 75%;

    display: flex;
    gap: 2%;
}

div.info > section {
    width: 50%;
}

div.info div.button {
    margin-top: auto;
}

section.projects, section.home-resume {
    width: 75%;
}

div.slider {
    margin-bottom: 1rem;
}