
div.info {
    width: 75%;

    display: flex;
    gap: 2%;
}

div.info > section {
    width: 50%;
}

div.info div.button {
    margin-top: auto;
}

section.projects {
    width: 75%;
}

div.slider {
    margin-bottom: 1rem;
}