
.projects section.project {
    width: 75%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 10vh 2%;
}

.projects .head {
    display: flex;
    justify-content: center;
    align-items: center;
}


.projects div.head > div.text {
    min-height: 400px;

    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.projects div.head > div.text * {
    margin: 2px;
    padding: 0 10px;

    background-color: var(--secondary-color);
}

.projects div.head > div.text h1 {
    font-size: 4rem;
    font-weight: 800;

    color: var(--dark-primary-color);
}

.projects div.head > div.text p {
    font-size: 2rem;
    font-weight: 600;

    color: white;
}

.projects .three {
    width: 400px;
    height: 400px;
}

@media (max-width: 1400px) {
    .projects section.project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1260px) {
    .projects .head {
        display: flex;
        flex-direction: column;
    }

    .projects div.head > div.text {
        min-height: unset;
    }
}

@media (max-width: 1000px) {
    .projects section.project {
        width: 90%;
    }

    .projects div.head > div.text h1 {
        font-size: 2rem;
    }

    .projects div.head > div.text p {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }
}

@media (max-width: 750px) {
    .projects section.project {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .projects section.project {
        width: 100%;
        border-radius: 0;
    }

    .projects .three {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 350px) {
    .projects article.project .project-front figcaption h1 {
        font-size: 1.5rem;
    }

    .projects div.button a.button-cta {
        width: 100%;
    }
}
